@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700&display=swap");
/* @import url("../../public/css/main.css"); */
@import "tailwindcss";

/* #DBB481 */
/* #010101 */

:root {
  --background: #ffffff;
  --foreground: #171717;
  --destructive: oklch(0.577 0.245 27.325);
  --primary: oklch(0.43 0.154951 257.5737);
  --input: oklch(0.8 0.004 286.32);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-destructive: var(--destructive);
  --color-primary: var(--primary);
  --color-input: var(--input);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px;
}

button {
  cursor: pointer;
}

.mask {
  mask: url("/images/shape/mask-18.svg") no-repeat center;
  -webkit-mask: url("/images/shape/mask-18.svg") no-repeat center;
  mask-size: 100%;
  -webkit-mask-size: 100%;
  position: relative;
}

.modal-content-container {
  @apply bg-white md:max-h-[90vh] max-h-[100vh] flex flex-col md:rounded-md;
}

.modal-content {
  @apply overflow-auto p-6;
}

.modal-content-header {
  @apply px-6 py-4 border-b border-gray-200;
}

.modal-content-footer {
  @apply p-6 border-t border-gray-200;
}
